.Code {
    border: 1px solid gray;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    padding: 11px 0 0 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 34px;
    margin: 10px 0;
}
.Green {
    background: lightgreen;
}
.Buttons-Box {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Buttons-Box button {
    width: 32%;
    padding: 7px 0;
    margin: 2px 0;
    border-radius: 4px;
}
.Message {
    text-align: center;
    text-transform: uppercase;
    color: rgba(0,0,0,0.6);
    font-size: 25px;
}

